<?xml version="1.0" encoding="utf-8" ?>

<!-- 
  Make sure to create a Settings.config file with the same structure as below
  and set the Build Action to Content and Copy To Output directory to Copy Always.
  The application uses this file but the Git repo is setup to ignore it so that 
  your keys, usernames, and passwords, are kept confidential.
-->

<appSettings>

  <!-- 
  Retrieve these values from https://customsubdomain.assembla.com/user/edit/manage_clients
  where the customsubdomain is whatever appears in your URL (usually your company name).
  Create a personal key with API Access. The Key and Secret should then be visible
  (after "click[ing] to show" for the Secret).
  -->
  <add key="AssemblaApiKey" value=""/>
  <add key="AssemblaApiSecret" value=""/>

  <!-- 
  Retrieve this from https://api.assembla.com/v1/spaces. 
  Find the space you would like to access your tickets from and use the "id"
  and "wiki_name" for the AssemblaSpaceId and AssemblaSpaceName respectively.
  Make sure to set the X-Api-Key and X-Api-Secret headers with the values obtained
  above.
  -->
  <add key="AssemblaSpaceId" value=""/>
  <add key="AssemblaSpaceName" value=""/>

  <!--
  This is the subdomain in your Assembla website URL. Usually your company name.
  -->
  <add key="AssemblaSubDomain" value=""/>

  <!--
  The credentials you use to log in to your Git repository.
  -->
  <add key="GitUserName" value=""/>
  <add key="GitPassword" value=""/>
  <add key="EmailAddress" value=""/>
</appSettings>